.about-title{
    font-size: 2.3rem;
    font-weight: 600;
    color: #1e88e5;
    margin-bottom: 8px;
    opacity: 0;
    transform: translateY(-15px);
    animation: textFadeUp 1.5s ease-out forwards;
    animation-delay: 1s;
}

.about-text{
    font-size: 1.1rem;
    margin-bottom: 14px;
    opacity: 0;
    transform: translateY(30px);
    animation: textFadeUp 1.5s ease-out forwards;
    animation-delay: 1.2s;
    text-align: start;
}

.office img{
    height: 350px;
    width: 100%;
    object-fit: contain;
    /* border-radius: 12px; */
    opacity: 0;
    transform: translateX(-45px);
    animation: textFadeUp 1s ease-out forwards;
} 

@keyframes textFadeUp{
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }

@media (max-width:765px){
    .about-text{
        text-align: center;
    }
}
