<section id="about" class="about-section mt-4 py-5">
    <div  class="container">
        <div class="row align-items-center">
            <div class="about-content col-12 col-md-7 text-center">
                <h1 class="about-title pb-4">ABOUT US</h1>
                <p class="about-text ">
                    As a leader in the manufacturing industry, REES has set the bar with its unwavering commitment to
                    quality and exceptional client service. Through our extensive inventory of diverse and customizable 
                    products, our talented team goes above and beyond to ensure your needs are not only met, but 
                    exceeded. Our approach combines innovation, quality control, and customer-focused solutions to deliver
                    consistent value every time.
                </p>
            </div>
    

            <div class="office col-12 col-md-5 align-items-center">
                <img src="images/logo/logo.png" alt="REES Office">
            </div>
        </div>
    </div>
</section>