<section id="factory" class="section mt-4 py-5">
    <div class="container text-center">
        <h2 class="factory-title pb-4">OUR FACTORY</h2>   
        <p class="factory-text col-lg-10 col-sm-12 mx-auto"> Our manufacturing facility is equipped with modern, high-precision machinery designed for 
            efficiency, consistency, and large-scale production. We focus on delivering durable, eco-friendly
             products while maintaining strict quality standards. Each machine is operated by skilled professionals to ensure reliability, safety, and optimal output.
        </p>
    
<!-- Factory machines -->
    <div class="row g-4">

        <div class="col-lg-4 col-md-6 text-center py-3">
            <div class="factory-card">
                <img src="images/Machineries/5 colour printing machine.jpeg" alt="5 colour printing machine"> 
                <div class="factory-overlay">
                    <h5>5 colour printing machine</h5>
                </div>
            </div>     
        </div>

        <div class="col-lg-4 col-md-6 text-center py-3">
            <div class="factory-card">
                <img src="images/Machineries/Mailer bag machine.jpeg" alt="Mailer bag machine"> 
                <div class="factory-overlay">
                    <h5>Mailer bag machine</h5>
                </div>
            </div>     
        </div>

        <div class="col-lg-4 col-md-6 text-center py-3">
            <div class="factory-card">
                <img src="images/Machineries/V bottom machine.jpeg" alt="V bottom machine"> 
                <div class="factory-overlay">
                    <h5>V bottom machine</h5>
                </div>
            </div>     
        </div>
    </div>
</div>
</section>