<section id="home" class="hero-section">
    <div class="container">
          <div class="col-lg-12 col-md-10">
            <div class="hero-overlay-box">
                <h1 class="hero-title">Innovating for a <br><span>Sustainable Future</span></h1>
                <p class="hero-text container text-center">
                    <strong class="fs-5">REES India</strong> is proud to be innovators of the highest standard, using cutting-edge manufacturing technologies to 
                    lead the industry forward. Through meticulous and reliable work, our company has become known as a top 
                    manufacturing company. Take a look at our top sellers and let us know if you have any questions about our 
                    process.
                </p>
                <div class="hero-actions ">
                    <a href="#products" class="btn btn-primary hero-btn">View Products</a>
                    <a href="#contact" class="btn btn-outline-light hero-btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>