<section id="paperImpact" class="section mt-2 py-3 ">
    <div class="container text-center">
        <h2 class="impact-title pb-4">WHY CHOOSE PAPER BAGS?</h2>
        <p class="impact-text col-lg-10 col-sm-12 mx-auto pb-3">
            Designed for sustainability, strength, and brand impact — our paper bags
            support a cleaner future without compromising on quality.
        </p>

        <div class="row g-4 impact-grid">
            <div class="impact-item col-md-3 col-sm-3">
                <i class="fa-solid fa-leaf"></i>
                <h5 >Eco-friendly</h5>
            </div> 
            
            <div class="impact-item col-md-3 col-sm-3">
                <i class="fa-solid fa-recycle"></i>
                <h5>Recyclable</h5>
            </div> 

            <div class="impact-item col-md-3 col-sm-3">
                <i class="fa-solid fa-hand-holding-heart"></i>
                <h5>Strong & Reliable</h5>
            </div> 

            <div class="impact-item col-md-3 col-sm-6">
                <i class="fa-solid fa-bag-shopping"></i>
                <h5>Reusable</h5>
            </div> 
        </div>
    </div>
</section>