<section id="products" class="section mt-2 py-5">
    <div class="container text-center">
        <h2 class="product-title pb-4">OUR PRODUCTS</h2>
        <p class="product-text pb-3 col-lg-10 col-sm-12 mx-auto">We are one of the leading manufacturing companies supplying our products across India and overseas markets.
            REES is widely recognized for its trust, consistent quality, and customer-focused approach. Our commitment
            to excellence ensures reliable products that meet industry standards and customer expectations.
        </p>

        <div class="row justify-content-center g-4">
<!-- Carousal effect for the product1 -->
            <div class="col-12 col-md-4 col-sm-6 d-flex px-3 ">
                <div class="card product-card w-100">
                    <div id="carouselProduct1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="images/Products/Paper bags without handle.png" 
                                 class="card-img-top w-100" 
                                 alt="Paper bags without handle">   
                          </div>
                          <div class="carousel-item">
                            <img src="images/Products/white paper bags without handle.png" 
                                 class="card-img-top w-100" 
                                 alt="White paper bags without handle">
                          </div> 
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <p class="product-name mb-0">Paper bags without handle</p>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProduct1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselProduct1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>

<!-- Carousal effect for the product2 -->
            <div class="col-12 col-md-4 col-sm-6 d-flex">
                <div class="card product-card w-100">
                    <div id="carouselProduct2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="images/Products/Flat handle paper bag.png" 
                                 class="card-img-top w-100" 
                                 alt="Flat handle paper bags">   
                          </div>
                          <div class="carousel-item">
                            <img src="images/Products/white flat handle paper bag.png" 
                                 class="card-img-top w-100" 
                                 alt="White flat handle paper bag">
                          </div> 
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <p class="product-name mb-0">Flat handle paper bags</p>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProduct2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselProduct2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>

<!-- Carousal effect for the product3 -->
            <div class="col-12 col-md-4 col-sm-6 d-flex">
                <div class="card product-card w-100">
                    <div id="carouselProduct3" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="images/Products/Twisted handle paper bag.png" 
                                 class="card-img-top w-100" 
                                 alt="Twisted handle paper bag">   
                          </div>
                          <div class="carousel-item">
                            <img src="images/Products/white twisted handle paper bag.png" 
                                 class="card-img-top w-100" 
                                 alt="White twisted handle paper bag">
                          </div> 
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <p class="product-name mb-0">Twisted handle paper bags</p>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProduct3" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselProduct3" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>

<!-- Carousal effect for the product4 -->
            <div class="col-12 col-md-4 col-sm-6 d-flex">
                <div class="card product-card w-100">
                    <div id="carouselProduct4" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="images/Products/Courier paper bag.png" 
                                 class="card-img-top w-100" 
                                 alt="Courier paper bag">   
                          </div>
                          <div class="carousel-item">
                            <img src="images/Products/white courier paper bag.png" 
                                 class="card-img-top w-100" 
                                 alt="white courier paper bag">
                          </div> 
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <p class="product-name mb-0">Courier paper bags</p>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProduct4" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselProduct4" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>

<!-- Carousal effect for the product5 -->
            <div class="col-12 col-md-4 col-sm-6 d-flex">
                <div class="card product-card w-100">
                    <div id="carouselProduct5" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="images/Products/v bottom paper bag.png" 
                                 class="card-img-top w-100" 
                                 alt="v bottom paper bag">   
                          </div>
                          <div class="carousel-item">
                            <img src="images/Products/white v bottom paper bag.png" 
                                 class="card-img-top w-100" 
                                 alt="White v bottom paper bag">
                          </div> 
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <p class="product-name mb-0">V bottom paper bags</p>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProduct5" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselProduct5" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>


        </div>
    </div>
</section>